name: Android Build and Release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'zulu'
        cache: gradle

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        packages: 'platforms;android-33 build-tools;33.0.0 platform-tools tools'

    - name: Setup Android build-tools
      run: |
        $ANDROID_HOME/cmdline-tools/16.0/bin/sdkmanager "build-tools;33.0.0"
        echo "$ANDROID_HOME/build-tools/33.0.0" >> "$GITHUB_PATH"

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: 8.2

    - name: Build Release APK
      run: gradle assembleRelease


    - name: Upload APK to Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: release-apk
        path: app/build/outputs/apk/release/*.apk

